#page-2 .circle:nth-of-type(1) {
	background-image: linear-gradient(45deg, var(--orange), var(--red));
	height: 300px;
	width: 300px;
	top: -80px;
	left: -30px;
}

#page-2 .circle:nth-of-type(2) {
	background-image: linear-gradient(45deg, var(--red), var(--blue));
	height: 360px;
	width: 360px;
	bottom: -150px;
	right: -140px;
}

#page-4 {
	background-color: #f6f6f6;
}

#page-4 > p {
	font-size: 1.2rem;
}

#page-4 .card button {
	margin-top: 20px;
	height: 40px;
	font-weight: 600;
	border-width: 3px;
	letter-spacing: 2px;
	font-size: 0.85rem;
}

#page-4 .circle:nth-of-type(1) {
	background-image: linear-gradient(45deg, var(--red), var(--theme));
	height: 360px;
	width: 360px;
	top: -160px;
	left: -160px;
}

#page-4 .circle:nth-of-type(2) {
	background-image: linear-gradient(45deg, var(--orange), var(--red));
	height: 360px;
	width: 360px;
	right: -160px;
	bottom: -160px;
}

#page-5 {
	display: flex;
	flex-wrap: wrap;
	background-color: #f8f8f8;
	justify-content: space-around;
}

#page-5 .circle:nth-of-type(1) {
	background-image: linear-gradient(45deg, var(--red), var(--theme));
	height: 360px;
	width: 360px;
	top: -70px;
	left: -60px;
}

#page-5 .circle:nth-of-type(2) {
	background-image: linear-gradient(45deg, var(--orange), var(--red));
	height: 400px;
	width: 400px;
	bottom: -140px;
	right: -120px;
}

#page-5 h2 {
	width: 100%;
}

#page-5-sub-head {
	font-family: var(--font-2);
	padding-left: 20px;
	margin: 70px 0 30px 0;
	width: 100%;
	font-weight: 600;
	font-size: 2.5rem;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: #333;
}

.page-5-card-big {
	position: relative;
	width: 46%;
	min-width: 350px;
	display: flex;
	height: 160px;
	margin-top: 30px;
	background-color: #fff;
	box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.02);
	border-radius: 20px;
	overflow: hidden;
}

.page-5-card-big > img {
	width: 40%;
	height: 100%;
	object-fit: cover;
}

.page-5-card-big > section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 40px;
	color: #222;
}

.page-5-card-big > section h3 {
	font-size: 1.7rem;
}

.page-5-card-big > section h4 {
	font-weight: 400;
	font-weight: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.page-5-card-small {
	display: flex;
	justify-content: space-between;
	position: relative;
	padding: 12px 18px;
	border-radius: 20px;
	color: #333;
	border: 3px solid #333;
	align-items: center;
	font-size: 1.2rem;
	font-weight: 500;
	margin: 10px;
}

.page-5-card-small img {
	height: 65px;
	width: 65px;
	margin-right: 10px;
	border-radius: 100%;
	object-fit: cover;
}

#page-3 {
	padding-left: 0;
	padding-right: 0;
}

#page-3 h2,
#page-3 .page-desc {
	padding: 0 60px;
}

#page-3 h2 {
	margin-bottom: 15px;
}

.page-3-row-cont {
	width: 100%;
	margin-top: 40px;
}

.page-3-row {
	margin-top: 20px;
	display: flex;
	width: 100%;
	flex-wrap: nowrap;
	overflow: hidden;
	justify-content: center;
}

.page-3-row img {
	height: 210px;
	width: 210px;
	border-radius: 100%;
	object-fit: cover;
	margin: 0 18px;
}

#events-button {
	margin: auto;
	margin-top: 60px;
}

@media screen and (max-width: 800px) {
	.page-5-card-big,
	.page-5-card-small {
		width: 100%;
		min-width: 0;
	}

	.page-3-row img {
		height: 120px;
		width: 120px;
		margin: 0 12px;
	}

	.page-5-card-big > section {
		padding-left: 25px;
	}
	.page-5-card-big > section h3 {
		font-size: 1.5rem;
	}
	.page-5-card-small {
		justify-content: flex-start;
	}
	#page-3 h2,
	#page-3 .page-desc {
		padding: 0 40px;
	}
}
