*{
	padding: 0px;
	margin: 0px;
}

body, html{
	height: 100%;
}


a{
	color: inherit;
	text-decoration: inherit;
	transition: color 0.2s;
}

.page{
	position: relative;
	top: 100%;
	background-color: #ffffff;
}

header{
	position: fixed;
	background-color: #3a3085;
	height: 70px;
	width: 100%;
	border-bottom-left-radius: 100p;
	z-index: 3;
}

#logo{
	height: 55%;
	position: relative;
	top: 22.5%;
	left: 30px;
	opacity: 0.7;
}

nav{
	position: relative;
	float: right;
	height: 100%;
	right: 60px;
}

.menu-item{
	display: inline-block;
	height: 100%;
	cursor: pointer;
	line-height: 70px;
	color: #fff;
	font-family: montserrat;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 9pt;	
	text-align: center;
	width: 110px;

}

#menu-line{
	position: absolute;
	left: 10px;
	background: linear-gradient(0deg, #ff656c, #ff5e93);
	height: 4px;
	border-radius: 10px;
	bottom: 0px;
	width: 100px;
}

.btn{
	display: block;
	height: 42px;
	line-height: 42px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 10pt;
	width: 160px;
	border-radius: 40px;
	border: 3px solid #fff;
	transition: background-color 0.2s, color 0.2s;
	cursor: pointer;
}

.dis{
	height: 100%;
	width: 100%;
	position: absolute;
	opacity: 0.7;
}

.page-head{
	padding-top: 60px;
	font-family: Montserrat;
	font-size: 30pt;
	text-transform: uppercase;
	letter-spacing: 6px;
	color: #333;
	font-weight: 400;
	width: 80%;
	position: relative;
	margin: auto;
}

.page-head-sep{
	width: 65px;
	height: 4px;
	background: linear-gradient(45deg, #ff3c8d, #ffdd87);
	border-radius: 10px;
	margin-top: 6px;
}

#page-1{
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #3a3086;
	height: 100%;
	width: 100%;
	word-wrap: 100%;
}

#page-1-center{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#blob{
	position: absolute;
	top: 0px;
	left: 0px;
}

h1, #sub-head{	
	text-align: center;
	color: #ffffff;
}

h1{
	font-family: Fredoka One;
	font-size: 55pt;
	letter-spacing: 4px;
}

#sub-head{
	font-family: Quicksand;
}

#sub-head{
	font-size: 25pt;	
}

#page-2{
	padding-bottom: 60px;
}

#page-2-schedule{
	position: relative;
	width: 85%;
	box-sizing: border-box;
	margin: auto;
	margin-top: 40px;
	padding-left: 60px;
	padding-right: 60px;
	background-color: #37346b;
	border-radius: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#page-2-schedule-line{
	position: absolute;
	height: calc(100% - 40px);
	background-color: rgba(0,0,0,0.2);
	width: 8px;
	left: 22px;
	top: 20px;
	border-radius: 20px;
}

.schedule-date{
	position: relative;
	font-family: Fredoka One;
	text-transform: uppercase;
	font-size: 10pt;
	background-color: #ff647a;
	border-radius: 20px;
	letter-spacing: 1px;
	color: rgba(0,0,0,0.4);
	font-weight: 700;
	display: inline-block;
	left: -65px;
	height: 32px;
	line-height: 32px;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 10px;
}

.schedule-date span{
	display: inline-block;
	height: 32px;
	width: 32px;
	border-radius: 100%;
	background-color: rgba(0,0,0,0.15);		
	color: rgba(0,0,0,0.6);
	text-align: center;
	margin-left: -15px;
}

.schedule-item{	
	margin-top: 30px;
	margin-bottom: 30px;
	box-sizing: border-box;
	border-radius: 10px;
	padding: 15px;
	padding-bottom: 20px;
	background-color: rgba(0,0,0,0.3);
}

.schedule-item-head{
	color: #fff;	
	font-family: Quicksand;
	font-size: 14pt;
}

.schedule-item-desc{
	color: #fff;
	margin-top: 5px;
	font-family: quicksand;
	font-size: 11pt;
}